<!DOCTYPE html>
<html>
<head>

</head>

<body>



<div class="jumbotron text-center">

<select>
<%for(var set=0; set < sets.length; set++) {%>
  <option value="<%=sets[set].name%>"><%=sets[set].longname%></option>
<%}%>
</select>


    <script>

    </script>
</div>

</body>
</html>
